* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.master-mind-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 43vw;
    height: 25vw;
    gap: 1vw;
    background: #272727;
    align-items: center;
    justify-content: center;
}

.pin-grey, .pin-white, .pin-black,
.pin-red, .pin-green, .pin-blue,
.pin-yellow, .pin-orange, .pin-cyan {
    width: 10vw;
    height: 10vw;
    background: #aaa;
}

.pin-white {
    background: #fff;
}

.pin-black {
    background: #000;
}

.pin-red {
    background: #f00;
}

.pin-green {
    background: #0f0;
}

.pin-blue {
    background: #00f;
}

.pin-yellow {
    background: #ff0;
}

.pin-orange {
    background: #f70;
}

.pin-cyan {
    background: #0ff;
}

.select-color {
    background: #51f;
    color: #fff;
    border-radius: 1vw;
    padding: 0.5vw 1vw;
    font-size: 1vw;
    border: none;
    width: calc(100% - 2vw);
    margin: 0 1vw 1vw 1vw;
}
