@font-face {
    font-family: Inter-Regular;
    src: url("/fonts/inter-regular.ttf");
}

@font-face {
    font-family: Anton-Regular;
    src: url("/fonts/anton-regular.ttf");
}

@font-face {
    font-family: Antonio-Regular;
    src: url("/fonts/antonio-regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #A4CDDD;
}

img {
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    font: inherit;
    color: inherit;
    font-size: 100%;
}

header {
    z-index: 999;
    position: sticky;
    top: 0;
    width: 100%;
    height: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;

    img {
        height: 3vw;
        margin: 0 2vw;
    }
}

nav {
    display: flex;
    align-items: center;
    background: #303F9F;
    width: 30vw;
    height: 2.9vw;
    border-radius: 1.3vw;
    padding: 0 3vw;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;

    a {
        color: #C5CAE9;
        font-family: Inter-Regular, sans-serif;
        font-size: 1.1vw;
    }
}

footer {
    width: 100%;
    height: 12vw;
    border-top: #1E2B6F solid 0.2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8vw;

}

a {
    text-decoration: none;
    color: inherit;
    transition: scale 0.5s;
}

li {
    transition: scale 0.8s;
}

a:hover, li:hover {
    scale: 1.2;
}

.hidden {
    visibility: hidden;
}

.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 62vw;
    height: 22vw;
    margin: 5vw auto;

    img {
        height: 22vw;
        width: 22vw;
        border-radius: 50%;
    }
}

.intro-box {
    height: 17vw;
    width: 28vw;
    padding: 2vw;
    border-radius: 10vw;
    background: #C5CAE9;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;

    h2 {
        color: #000;
        font-size: 1.5vw;
        font-family: Anton-Regular, sans-serif;
    }

    p {
        color: #757575;
        font-size: 1.1vw;
        font-family: Antonio-Regular, sans-serif;
    }
}

.link {
    text-decoration: underline;
}

.icons8 {
    color: #757575;
    font-family: Inter-Regular, sans-serif;
    font-size: 1.2vw;
}

.socials-container {
    display: flex;
    gap: 2vw;
    width: fit-content;
    height: fit-content;

    img {
        height: 4vw;
    }
}

.description-container {
    display: flex;
    width: 96vw;
    height: 20vw;
    margin: 15vw auto;
    justify-content: center;
    align-items: center;

    img {
        height: 17vw;
        border-radius: 2vw;
    }
}

.description-box {
    height: 25vw;
    width: 40vw;
    padding: 4vw;
    background: #C5CAE9;
    display: flex;
    border-radius: 10vw;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;

    h2 {
        color: #000;
        font-size: 1.5vw;
        font-family: Anton-Regular, sans-serif;
    }

    p {
        text-align: center;
        color: #757575;
        font-size: 1.1vw;
        font-family: Antonio-Regular, sans-serif;
    }
}

.description-left {
    margin: 0 -10vw 0 10vw;
}

.description-right {
    z-index: -1;
    margin: 0 10.5vw 0 -5vw;
}

.discord-box {
    height: 25vw;
    width: 35vw;
    p {
        text-align: center;
        line-height: 1.8vw;
    }
}

.pong {
    margin: 5vw 10%;
    width: 80vw;
    height: 50vw;
    border: none;
    border-radius: 1vw;
}

.pong-text {
    width: 30vw;
    height: 30vw;
    margin: 0 auto;
    background: #C5CAE9;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 2vw;

    h2 {
        color: #000;
        font-size: 1.5vw;
        font-family: Anton-Regular, sans-serif;
    }

    p {
        text-align: center;
        color: #757575;
        font-size: 1.1vw;
        font-family: Antonio-Regular, sans-serif;
        line-height: 1.7vw;
    }
}

.border-none {
    border: none;
    border-radius: 0;
}

.champion-container {
    margin: 15vw auto;
}