/* Fonts */

@font-face {
  font-family: inter-semibold;
  src: url("../fonts/inter-semibold.ttf");
}

/* Basic element presetting */

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    -45deg,
    #ffffff 0%,
    #d9e9ff 25%,
    #91c7ff 50%,
    #45a5ff 100%
  );
  background-blend-mode: normal;
}

header {
  position: relative;
  width: calc(100vw - 20px);
  height: 7vh;
  padding: 10px;
  background: #bbdefb;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header items */

.logo {
  margin: 0 5vw;
  width: fit-content;
  height: 7vh;
}

.menu-bar {
  display: flex;
  column-gap: 50px;
  align-self: center;
  font-family: inter-semibold, sans-serif;
  z-index: 1;
}

.menu-button {
  padding: 12px 20px;
  color: #fff;
  background: #2196f3;
  transition: margin 0.3s;
  border-radius: 5px;
}

.menu-button:hover {
  margin: -10px 0 10px 0;
}

header::after {
  position: absolute;
  content: "";
  top: -25%;
  left: 65%;
  width: 55vw;
  height: 100vh;
  border-radius: 50%;
  background: #444444;
  z-index: 0;
}

.current-page, .current-page:hover {
  margin: -15px 0 15px 0;
}

/* Misc */

.hide {
  visibility: hidden;
}
